body {
    background-image: url("../images/background.png");
}

.container {
    width: 80%;
    margin: 2em auto 0 auto;
    padding: 2em;
    background: #03001C;
    color: #FFC501;
    border-radius: 40px;
    box-shadow: 0 0 100px #03001C;
    text-align: center;
    font-size: 150%;
    min-height: calc(100vh - 8em);
}

#header {
    color: #FE9600;
    font-size: 400%;
    margin-bottom: 0.5em;
    font-family: 'Creepster', cursive;
    -webkit-text-stroke: 3px #77477E;
}

p {
    font-size: 120%;
    margin: 1em;
}

#content {
    font-family: 'Mystery Quest', cursive;
}

li {
    transition: 0.25s;
    padding: 0.5em;
    background: #77477E;
    font-family: 'Spicy Rice', cursive;
    width: 30%;
    margin: 0 auto 0.5em auto;
}

h2 {
    font-family: 'Creepster', cursive;
    margin: 0.5em;
}

#guess-result {
    display: none;
}

li:hover {
    background: #FFC501;
    color: #77477E;
}

